AppTracking/AppTracking/Service References/TrackingService/TrackingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.brightmoon.cn/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.brightmoon.cn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.brightmoon.cn/">
      <s:element name="Upload">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="time" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="latitude" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="longitude" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPositions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="start" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="end" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPositionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPositionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UploadSoapIn">
    <wsdl:part name="parameters" element="tns:Upload" />
  </wsdl:message>
  <wsdl:message name="UploadSoapOut">
    <wsdl:part name="parameters" element="tns:UploadResponse" />
  </wsdl:message>
  <wsdl:message name="GetPositionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPositions" />
  </wsdl:message>
  <wsdl:message name="GetPositionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPositionsResponse" />
  </wsdl:message>
  <wsdl:message name="UploadHttpGetIn">
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPositionsHttpGetIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="start" type="s:string" />
    <wsdl:part name="end" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPositionsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UploadHttpPostIn">
    <wsdl:part name="time" type="s:string" />
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="latitude" type="s:string" />
    <wsdl:part name="longitude" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UploadHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPositionsHttpPostIn">
    <wsdl:part name="id" type="s:string" />
    <wsdl:part name="start" type="s:string" />
    <wsdl:part name="end" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPositionsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="TrackingServiceSoap">
    <wsdl:operation name="Upload">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;向服务端上报所在经纬度数据&lt;/b&gt;&lt;br&gt;id：设备或者用户ID&lt;br&gt;latitude：经度&lt;br&gt;longitude：纬度</wsdl:documentation>
      <wsdl:input message="tns:UploadSoapIn" />
      <wsdl:output message="tns:UploadSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;从服务端获取指定id所在时间范围内经纬度数据&lt;/b&gt;&lt;br&gt;id：设备或者用户ID&lt;br&gt;start：起始时间&lt;br&gt;end：结束时间</wsdl:documentation>
      <wsdl:input message="tns:GetPositionsSoapIn" />
      <wsdl:output message="tns:GetPositionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TrackingServiceHttpGet">
    <wsdl:operation name="Upload">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;向服务端上报所在经纬度数据&lt;/b&gt;&lt;br&gt;id：设备或者用户ID&lt;br&gt;latitude：经度&lt;br&gt;longitude：纬度</wsdl:documentation>
      <wsdl:input message="tns:UploadHttpGetIn" />
      <wsdl:output message="tns:UploadHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;从服务端获取指定id所在时间范围内经纬度数据&lt;/b&gt;&lt;br&gt;id：设备或者用户ID&lt;br&gt;start：起始时间&lt;br&gt;end：结束时间</wsdl:documentation>
      <wsdl:input message="tns:GetPositionsHttpGetIn" />
      <wsdl:output message="tns:GetPositionsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="TrackingServiceHttpPost">
    <wsdl:operation name="Upload">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;向服务端上报所在经纬度数据&lt;/b&gt;&lt;br&gt;id：设备或者用户ID&lt;br&gt;latitude：经度&lt;br&gt;longitude：纬度</wsdl:documentation>
      <wsdl:input message="tns:UploadHttpPostIn" />
      <wsdl:output message="tns:UploadHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;b&gt;从服务端获取指定id所在时间范围内经纬度数据&lt;/b&gt;&lt;br&gt;id：设备或者用户ID&lt;br&gt;start：起始时间&lt;br&gt;end：结束时间</wsdl:documentation>
      <wsdl:input message="tns:GetPositionsHttpPostIn" />
      <wsdl:output message="tns:GetPositionsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TrackingServiceSoap" type="tns:TrackingServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://www.brightmoon.cn/Upload" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <soap:operation soapAction="http://www.brightmoon.cn/GetPositions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrackingServiceSoap12" type="tns:TrackingServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap12:operation soapAction="http://www.brightmoon.cn/Upload" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <soap12:operation soapAction="http://www.brightmoon.cn/GetPositions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrackingServiceHttpGet" type="tns:TrackingServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Upload">
      <http:operation location="/Upload" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <http:operation location="/GetPositions" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TrackingServiceHttpPost" type="tns:TrackingServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Upload">
      <http:operation location="/Upload" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPositions">
      <http:operation location="/GetPositions" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrackingService">
    <wsdl:port name="TrackingServiceSoap" binding="tns:TrackingServiceSoap">
      <soap:address location="http://www.brightmoon.cn/TrackingService.asmx" />
    </wsdl:port>
    <wsdl:port name="TrackingServiceSoap12" binding="tns:TrackingServiceSoap12">
      <soap12:address location="http://www.brightmoon.cn/TrackingService.asmx" />
    </wsdl:port>
    <wsdl:port name="TrackingServiceHttpGet" binding="tns:TrackingServiceHttpGet">
      <http:address location="http://www.brightmoon.cn/TrackingService.asmx" />
    </wsdl:port>
    <wsdl:port name="TrackingServiceHttpPost" binding="tns:TrackingServiceHttpPost">
      <http:address location="http://www.brightmoon.cn/TrackingService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>